.gradle/
build/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
.DS_Store
Player Pictures/
silhouette_test/
screenshots/
store_assets/*.aab
app/release/
.kotlin/
App Cover Pictures/
tester_invites/
ios/
keystore.properties
*.keystore
